/* PC */
@media (min-width: 1024px) {
  .mobile-menu-btn {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 1023px) {
  .btn {
    padding: 15px 16px;
  }

  #nav .subnav a {
    padding: 5px 41px;
  }

  .contact-form .form-control {
    padding: 15px;
  }

  .contact-info {
    font-size: 18px;
    line-height: 2;
  }

  .socials-list {
    font-size: 48px !important;
  }

  #footer .socials-list a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .mobile-menu-btn {
    display: none;
  }
}

/* Mobile */
@media (max-width: 740px) {
  #nav > li {
    display: block;
  }
  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #nav {
    display: block;
  }

  #header {
    overflow: hidden;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
  }

  #content .member-item {
    margin-top: 30px;
    /* width: 100%; */
  }

  .col-third {
    width: 100%;
    margin-top: 16px;
  }

  #content .members-img {
    width: 60%;
  }

  .col-half {
    width: 100%;
    padding-top: 8px;
  }

  .full-widths {
    width: 100% !important;
    text-align: center;
  }
}
